body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/background-main-image.jpg");
  background-position: center 40px;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-menu,
.inner-header {
  background-color: #000000;
}

.header-menu {
  width: 100%;
  margin-bottom: 60px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.inner-header {
  margin-bottom: 55px;
}

.main-header-logo {
  width: 371px;
  height: 175px;
  order: 1;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-menu .container,
.main-footer .container,
.inner-header .container,
.inner-header .header-menu {
  display: flex;
}

/* .inner-header .header-menu {?????
  padding-top: 20px;
  padding-bottom: 26px;
} */

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation li,
.user-navigation li {
  line-height: 20px;
}

.site-navigation {
  width: 780px;
  margin-right: 20px;
}

.user-navigation {
  width: 140px;
}

.site-navigation,
.user-navigation,
.features-list,
.news-list,
.breadcrumbs,
.catalog-items-list,
.inner-catalog-form ul,
.nav-catalog ul,
.photo-item-list,
.item-consist,
.best-tools ul {
  list-style: none;
}

.header-menu a  {
  font-size: 16px;
  color: #ffffff;
}

.login-link {
  padding-left: 31px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.login-link a {
  position: relative;
  padding-left: 53px;
}

.login-link a::before {
  content: "";

  position: absolute;
  top: 29px;
  left: 23px;

  width: 16px;
  height: 14px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login-link a:hover::before {
  opacity: 1;
}

.features {
  margin-bottom: 63px;
}


.features-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.features-list h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
}

.features-list li {
  position: relative;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-list li:last-child {
  margin-right: 0;
}

.features-list li::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);

  background-color: #ffffff;
  width: 20px;
  height: 20px;
  top: 52px;
  left: 140px;
}

.features-list-cool p {
  padding-left: 12px;
  padding-right: 10px;
}

.catalog-wrapper {
  display: flex;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-items-list li {
  width: 220px;
}

.nav-catalog ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.news {
  width: 380px;
  margin-right: 126px;
}

.news h2,
.photogallery h2,
.contact h2,
.reservation h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.photogallery h2 {
  margin-bottom: 23px;
  padding-left: 4px;
}

.news-list {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.photogallery {
  width: 320px;
}

.contact {
  width: 383px;
  margin-right: 98px;
}

.contact p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.contact p:last-of-type {
  margin-bottom: 33px;
}

.contact .button {
  padding-left: 31px;
  padding-right: 31px;
}

.contact .button-drv {
  margin-right: 18px;
}

.contact .button-feedback {
  padding-left: 25px;
  padding-right: 25px;
}

.reservation {
  width: 300px;
}

.features-list h3,
.index-column h2,
.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

.index-column,
.modal-login,
.inner-page {
  padding-left: 80px;
  padding-right: 80px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/background-white-pattern.jpg");
  background-repeat: repeat;
}

.inner-page {
  padding-left: 0;/*????*/
  padding-right: 0;
}


.index-column {
  display: flex;
  position: relative;
  margin-bottom: 36px;
  padding-bottom: 49px;
  padding-top: 45px;

  background-color: #f8f5f2;
  background-image:
    url("../img/border.png"),
    url("../img/background-white-pattern.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center center;
}


.button {
  border: none;
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 34px;
  padding-right: 34px;

  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;

  background-color: #000000;
}

.button-prev,
.button-next,
.button-submit,
.modal-login .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 48px;
}

.button-submit,
.modal-login .button {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.modal-login .button {
  box-sizing: border-box;
  padding-right: 10px;
}

.photogallery img {
  margin-bottom: 30px;
  border: 7px solid #ffffff;
}

.button-prev {
  margin-right: 14px;
}

.button:hover,
.button:focus {
  background-color: #663d15;
}

.main-footer {
  margin-top: 64px;
  padding-top: 60px;
  padding-bottom: 33px;

  color: #ffffff;

  background-image: url("../img/background-black-pattern.jpg");
  background-color: #222222;
  background-repeat: repeat;
}

.footer-contact {
  margin: 0;
  padding: 0;

}

.footer-contact a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-social {
  width: 140px;
}

.footer-social b,
.footer-dev b {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.footer-dev b {
  margin-bottom: 25px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  width: 43px;
  height: 43px;
}

.footer-dev b {
  display: block;
}

.modal-login a {
  color: #000000;
  text-decoration: underline;
}

.reservation-form {
  display: flex;
  flex-wrap: wrap;
}

.reservation-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.reservation-form label {
  display: block;
  padding-left: 15px;
  margin-bottom: 11px;

  line-height: 18px;
}

.reservation-form input,
.user-form input {
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 140px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-weight: 700;

  color: #000000;
}

.reservation-form p:nth-child(2n + 1) {
  margin-right: 19px;
}

.form-item:last-of-type {
  margin-bottom: 20px;
}

.inner h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

.inner-header .header-menu {
  margin-bottom: 0;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumbs a {
  color: #000000;
}

.inner-price .breadcrumbs {
  margin-bottom: 40px;
}

.inner-form fieldset {
  border: none;
}

.inner-form legend,
.item-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.inner-form label {
  font-size: 14px;
  line-height: 18px;
}

.catalog-items-list li {
  background-color: #ffffff;
}

.catalog-items-list a {
  display: block;
  font-size: 14px;
  color: #000000;
}

.catalog-items-list .button {
  color: #ffffff;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.item-code {
  color: #aeaeae;
}

.product-price {
  background-color: #e5e5e5;
}

.inner-price .price-promo {
  font-size: 48px;
  line-height: 48px;
}

.best-tools {
  width: 400px;
  margin-right: 80px;
}

.best-tools h2,
.price-service h2,
.about-us h2 {
  font-size: 24px;
  line-height: 30px;
}

input[type="checkbox"]:hover ~ label,
input[type="radio"]:hover ~ label,
input[type="checkbox"]:focus ~ label,
input[type="radio"]:focus ~ label {
  color: #663d15;
}

input[type="checkbox"]:disabled ~ label,
input[type="radio"]:disabled ~ label {
  opacity: 0.5;
}

.nav-catalog .current-page,
.button-dev:hover,
.button-dev:focus {
  color: #000000;

  background-color: #ffffff;
}



.list-item {
  margin-bottom: 21px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item time,
.catalog-category {
  text-transform: none;
}

.list-item p {
  margin: 0;
  padding: 0;
}

.photo-item-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.item-wrapper,
.price-wrapper,
.about-wrapper {
  display: flex;
}

.about-wrapper p:first-child {
  margin-right: 20px;
}

.about-us {
  padding-bottom: 40px;
}

.item-consist {
  margin: 0;
  padding: 0;
}

.footer-inner-catalog,
.footer-inner-item,
.footer-inner-price {
  color: #ffffff;
}

.footer-contact {
  margin-right: 119px;
}

.footer-social {
  margin-right: 260px;
}

.footer-dev a {
  width: 140px;
  padding-left: 29px;
  padding-right: 28px;
}

.footer-social ul {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.modal-login {
  display: none; /*Модальное окно скрыто*/
  position: fixed;
  top: calc(50% - 230px);
  left: calc(50% - 230px);
  padding-top: 47px;
  width: 300px;
  padding-bottom: 57px;

  box-shadow: 0 30px 50px 0 rgba(00, 01, 01, 0.25);
}

.modal-login h2 {
  margin: 0;
  padding: 0;
}

.modal-login p {
  margin-bottom: 11px;
}

.user-form input {
  width: 300px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  background-color: #f9f6f3;
}

.user-form p:last-of-type {
  margin-top: 13px;
  /* padding-left: 30px; */
  margin-bottom: 14px;
}

.user-form .remember-field {
  position: relative;
  margin-right: 73px;
  padding-left: 30px;
}

.user-form .remember-field::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;

  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

input[type="checkbox"]:checked ~ .remember-field::before {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.user-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.user-form input {
  padding-right: 40px;
}

.user-form .login,
.user-form .password {
  position: relative;
}

.user-form .login::after,
.user-form .password::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 271px;

  background-repeat: no-repeat;
}

.user-form .login::after {
  background-image: url("../img/user.svg");
}

.user-form .password::after {
  background-image: url("../img/lock.svg");
  left: 269px;
}

.modal-close {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    width: 20px;
    height: 21px;
    top: 6px;
    left: 470px;


    background-image: url("../img/cross-close.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 20px;
}

.modal-map {
  position: fixed;
  display: none; /*Скрыл modal-map*/
  top: calc(50% - 287px);
  left: calc(50% - 390px);
}

.modal-map img {
  border: 7px solid #ffffff;
  box-shadow: 0 30px 50px 0 rgba(00, 01, 01, 0.25);
}

.modal-map .modal-close {
  left: 790px;
  top: 10px;
}

.inner-header .header-logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header .header-menu {
  width: 790px;
}

.href-style {
  padding-bottom: 26px;
}

.site-navigation-current .href-style {
  box-shadow: inset 0 -4px 0 0 #ffffff;
}
